{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Clientes Terceirizados</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <img class="h-8 w-8 mr-2" src="{% static 'images/logo.png' %}" alt="Logo">
                <a href="{% url 'dashboard' %}" class="text-white text-xl font-bold">
                    Controle de Clientes
                </a>
            </div>
            
            <div class="space-x-4">
                <a href="{% url 'dashboard' %}" class="text-gray-300 hover:text-white">Dashboard</a>
                <a href="{% url 'lista_clientes' %}" class="text-gray-300 hover:text-white">Clientes</a>
                <a href="{% url 'lista_pedidos' %}" class="text-gray-300 hover:text-white">Pedidos</a>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-10 p-6 bg-white rounded-lg shadow-xl">
        {% block content %}
        {% endblock %}
    </div>
</body>
{% block extra_scripts %}{% endblock %}
</html>